:root {
    --white: #f5f5f5;
    --zilla: #000000;
    --purple: #8a2be2;
    --red: #ff0000;
    }
        
*.
*::before,
*::after{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}


body {
    background-color: rgb(28, 3, 96);


min-height: 100vh;
display: grid;
grid-template-rows: auto auto 1fr auto;
grid-template-areas: 
'banner '
'nav'
'main '
'footer';   
}

header {grid-area: banner; }
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}


/*Header*/

.logo {
    display: block;
 margin-left: auto;
 margin-right:auto;
    
     width: 100px;
     height: auto;
     filter: brightness(1.75);
}

.logo {
    
   
     width: auto;
          height:100px

}



/*Header*/













/*navigation*/
a {
color: white;
font-size: 2rem;
text-decoration: none;
transition: 0.3s;
}
a:hover {
    color: #000000;
}

ul {
    
    justify-content: center;
    margin: auto;
     width: 450px;
     display: flex;
     flex-direction: row;
     list-style: none;
     padding: 15px 0;
     border-radius: 25px;
     border: 0.1px solid#000000;
     box-shadow: 0 4px 8px 0 #000dff, 0 6px 20px 0 rgba(26, 0, 158, 0.19);
}

li{
    margin: auto;

}
li:after {
    display: block;
}
li:hover:after {
    transform: scaleX(1);
}
/*Navigation*/







/* MAIN */



.mainscreen
{
	min-height: 80vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    
    color:var(--white)
}

.card {
	width: 60rem;
    margin: auto;
    background: rgb(0, 0, 0);
    position:center;
    align-self: center;
    top: 50rem;
    border-radius:1rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
    
}

.leftside {
	background: #030303;
	width: 25rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.product {
    object-fit: cover;
	width: 38rem;
    height: 20em;
    
}

.rightside {
    background-color: #000000;
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
  outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}

.button{
    background: linear-gradient(
        120deg
, #ff0000 0%, #ff0000 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}





@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
      
    }

    .leftside{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      border-top-right-radius:0;
      border-radius:0;
    }

    .rightside{
        width:auto;
        border-bottom-left-radius: 1.5rem;
        padding:0.5rem 3rem 3rem 2rem;
      border-radius:0;
    }
}










/*main*/




/*Footer*/
.footer-ul {
    justify-content: center;
   margin: 0 auto;
    width: 450px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 15px 0;
    
   
    box-shadow: 0 4px 8px 0 #000562, 0 6px 20px 0 rgba(2, 0, 11, 0.19);
width: 100%;

}


.siteinfocont {
    margin-right: auto;

}



.payment {
display: flex;
gap:1rem;
flex-wrap: wrap;

   
}

.iconpayment {
    color: var(--zilla);
    
  
}
.copyright {
    font-size: x-small;
    display: flex;
    align-items: center;
}


.visa {
    color: white;

}
.mastercard {
    color: white;
}
.paypal {
    color: rgb(0, 106, 255);
}
.googlepay {
    color: rgb(255, 255, 255);
}




/*Footer*/


























/*Styling desktop *//*Styling desktop *//*Styling desktop *//*Styling desktop *//*Styling desktop *//*Styling desktop *//*Styling desktop */

@media (min-width: 600px) {
    :root {
          --white: #f5f5f5;
          --zilla: #000000;
          --purple: #8a2be2;
          --red: #ff0000;
          }
    *
   
    {
          margin: 0%;
          padding: 0%;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
          }

html {
    font-size: 62.5%;
}

  
body {        
    background-color: var(--purple);
      grid: 'banner banner' auto
            'nav main' 1fr
            'nav footer' auto
            / 12em 1fr;
    }


/*Header*/

    .logo {
          display: block;
       margin-left: auto;
       margin-right:auto;
          border-radius: 5%;
           width: 150px;
           height: auto;
           filter: brightness(1.75);
           
     }
     
    .logo {
          
           border-radius: 5%;
           width: auto;
           height: 100px;
    
     }

/*Header*/
    
    
 /*nav*/

/*navigation*/
ul {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60rem;
    width: 8rem;
    list-style: none;
    border: 0.1px solid black;
    
box-shadow: 0px 10px 13px -7px #faeaea, 0px -1px 7px 12px rgb(6, 25, 233);
}
  
a {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    
    }
 
    
    li{
          margin: auto;
    
    }
    li:after {
          display: block;
    }
    li:hover:after {
          transform: scaleX(1);
    }
    /*Navigation*/
    


















/* MAIN */
.mainscreen
{
	min-height: 80vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    
    color:var(--white)
}

.card {
	width: 60rem;
    margin: auto;
    background: rgb(0, 0, 0);
    position:center;
    align-self: center;
    top: 50rem;
    border-radius:1rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
    
}

.leftside {
	background: #030303;
	width: 25rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.product {
    object-fit: cover;
	width: 20rem;
    height: 20rem;
    border-radius: 5px;
}

.rightside {
    background-color: #000000;
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
  outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}

.button{
    background: linear-gradient(
        120deg
, #ff0000 0%, #ff0000 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}



/* MAIN */




/*MAIN*/


















/*Styling desktop */

















/*all movies */



















