


body {
    background:red;
    display: grid;
    border: 5px solid black;
    grid-template-rows: auto auto 1fr auto;
   
    
    gap: 1em;

    grid-template-areas: 
    'banner'
    'nav'
    'main'
    ' footer'
    ;
    

}


/*Header banner*/
header {background-color: white;grid-area: banner;}

.selogo {
    width:auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*Header banner above */

/*Nav bar*/	
nav {background-color: white;  grid-area:nav;}
.nav-side-bar {
    display: flex;
    outline: 1px dotted red;
    
    

}

.sidebaricon {
    display: flex;
    height: 10em;
    justify-content: space-around;
    align-items: center;
}



/*Nav bar above*/
main {background-color: white; grid-area: main;}

footer {background-color: white; grid-area: footer;}






@media (min-width:600px )
{
    body {
       min-height: 100vh;
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto 1fr auto ;
        background-color: orange;
        grid-template-areas: 
        'banner banner'
        'nav main'
        'nav footer';
    }

    header {grid-column: span 2;}

    nav {grid-row: span 2;}
    
    













    
   
}
