:root {
      --background: #f5f5f5;
      --zilla: #000000;
      --purple: #8a2be2;
      --red: #ff0000;
      }
          
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
      background-color: var(--background);
gap: 1em;
min-height: 100vh;
display: grid;
grid-template-rows: auto auto 1fr auto;
grid-template-areas: 
'banner '
'nav'
'main '
'footer';   
}

header {grid-area: banner; }
nav {grid-area: nav;}
main {grid-area: main;  }
footer {grid-area: footer;}



/*Styling*/


nav,   footer {

      background-color: var(--zilla);
      color: var(--background);
      }
      
/*navigation*/
ul {
     display: flex;
     flex-direction: row; 
     justify-content: space-around;
     list-style-type: none;
     flex-wrap: wrap;
}
li {
      padding: 6px 0;
}
.right-bar {
      display: flex;
      justify-content: center;
      gap: 1rem;
}



.topbar {
      font-size: 15px;
      font-weight: bold;
      position: relative; /*Static?*/
      display: block;
      padding: 4px 0;
      font-family: 'Poppins', sans-serif;
      color: var(--background);
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: color 1s;
      transition: color 1s;  /*change color after finish */

}
.topbar:hover {
      color: #b60085;
  }
/*Navigation*/

/*header logo*/


.SElogo {
      display: block;
   margin-left: auto;
   margin-right:auto;
      border-radius: 5%;
       width: 150px;
       height: auto;
 }
 
.SElogo {
      
       border-radius: 5%;
       width: auto;
       height: 80px;

 }


/*Header logo




/* MAIN */
:root {
      --cardWidth: 250px;
      --cardHeight: 250px;
      --cardMargin: 16px;
    }
    
  
  
    .main-section {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      background: rgb(255, 255, 255);
     
    }
    .card {
      width: var(--cardWidth);
      height: var(--cardHeight);
      margin: var(--cardMargin);
      border: 0.4px solid rgb(239, 231, 231);
      border-radius: 8px;
      background: rgb(255, 255, 255);
      box-sizing: border-box;
    }
    .img {
      width: 248px;
      border-radius: 8px;
    }

    .title {
      display: flex;
      justify-content: center;
      font-style: 'Poppins', sans-serif;
      font-weight: bold;
    }



/*main*/




  /*Footer*/
.footer-bar {
display: flex;

gap: 0.5em;
width: 100%;
flex-wrap: wrap;
font-size: 15px;
font-weight: bold;
font-size: 'Poppins', sans-serif;
justify-content: space-between;
}


.siteinfocont {
      margin-right: auto;
  
}



.payment {
display: flex;
gap:1rem;
flex-wrap: wrap;

     
}

.iconpayment {
      color: var(--zilla);
      
    
}



/*Footer*/










/*Styling desktop */

@media (min-width: 600px) {

      *{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            }



    body {
        background-color: var(--red);
        grid: 'banner banner' auto
              'nav main' 1fr
              'nav footer' auto
              / 12em 1fr;
      }

      nav {outline: 5px dotted rgb(23, 21, 21); }
      header {outline: 5px dotted yellow;}
      main {outline: 5px dotted yellow; background-color: black;}
      footer {outline: 5px dotted yellow;}
      
      
      

      .SElogo {
            display: block;
         margin-left: auto;
         margin-right:auto;
            border-radius: 5%;
             width: 150px;
             height: auto;
       }
       
      .SElogo {
            
             border-radius: 5%;
             width: auto;
             height: 100px;
      
       }


      
      
      
      ul {
            
            display: flex;
            height: 45em;
            
            flex-direction: column; 
            justify-content: space-around;
            list-style-type: none;
            align-items: center;
           
       }
       li {
             padding: 6px 0;
       }
       
      


       .topbar {
             position: relative; /*Static?*/
             display: block;
             padding: 4px 0;
             font-family: sans-serif;
             color: var(--background);
             text-decoration: none;
             text-transform: uppercase;
             -webkit-transition: color 1s;
        transition: color 1s;  /*change color after finish */

       }

       .topbar:hover {
            color: #ff0000;
        }
.right-bar {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;


}



/* MAIN */
:root {
      --cardWidth: 250px;
      --cardHeight: 250px;
      --cardMargin: 16px;
    }
    
  
  
    .main-section {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      background: rgb(0, 0, 0);
     
    }
    .card {
      width: var(--cardWidth);
      height: var(--cardHeight);
      margin: var(--cardMargin);
      border: 0.4px solid rgb(0, 0, 0);
      border-radius: 8px;
      background: linear-gradient(black, #012325);
      box-sizing: border-box;
    }
    .img {
      width: 248px;
      border-radius: 8px;
    }

    .title {
      display: flex;
      justify-content: center;
      font-style: 'Poppins', sans-serif;
      font-weight: bold;
    }



/*main*/






}










